<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye.functiondemo.dao.SusDao">

    <select id="getSelTbXwKyxsRyList" parameterType="com.ye.functiondemo.model.TbXwKyxsRy"
            resultType="com.ye.functiondemo.model.TbXwKyxsRy">

        select *
        FROM  tb_XW_KYXS_RY
        where ROWNUM <![CDATA[<=]]> 20

    </select>
    <select id="getSelMapTbXwList" parameterType="java.util.Map"  resultType="com.ye.functiondemo.model.TbXwKyxsRy">
    select *  FROM(
    SELECT t.*,rownum rn FROM (
    SELECT
    /*XXZJBH,KYXSRY_ZJHM,KYXSRY_KYYJ,ASJBH,DJSJ*/
       *
    from TB_XW_KYXS_RY
    <where>
        <if test="kyxsry_Zjhm != null and kyxsry_Zjhm != ''">
            and kyxsry_Zjhm like  '%'||#{ kyxsry_Zjhm}||'%' </if>
        <if test="kyxsry_Kyyj != null and kyxsry_Kyyj != ''">
            and kyxsry_Kyyj like '%'||#{ kyxsry_Kyyj  }||'%'</if>
    </where>
    ORDER BY XXZJBH DESC NULLS LAST)
    t WHERE ROWNUM <![CDATA[<=]]> #{end}
    ) WHERE rn > #{begin}


</select>
    <select id="qrySusCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT
    count(*)
    FROM TB_XW_KYXS_RY
    WHERE
    ROWNUM <![CDATA[<=]]> 100

        <if test="kyxsry_Zjhm != null and kyxsry_Zjhm != ''">
            and kyxsry_Zjhm like  '%'||#{ kyxsry_Zjhm}||'%' </if>
        <if test="kyxsry_Kyyj != null and kyxsry_Kyyj != ''">
            and kyxsry_Kyyj like '%'||#{ kyxsry_Kyyj  }||'%'</if>



</select>
    <select id="qrySusById" parameterType="java.lang.String" resultType="com.ye.functiondemo.model.TbXwKyxsRy">
        select * from  tb_XW_KYXS_RY
        where  xxzjbh = #{xxzjbh,jdbcType=VARCHAR}
    </select>
    <insert id="insertSus" parameterType="com.ye.functiondemo.model.TbXwKyxsRy">
        insert into tb_XW_KYXS_RY (xxzjbh,asjbh,kyxsry_Zjhm,
        kyxsry_kyyj,djsj,gxsj,xxsc_Pdbz,
        xxdjry_Xm,xxdjdw_Gajgmc)
        values
        (#{xxzjbh , jdbcType=VARCHAR},
        #{asjbh , jdbcType=VARCHAR},
        #{kyxsry_Zjhm , jdbcType=VARCHAR},
        #{kyxsry_kyyj , jdbcType=VARCHAR},
        (to_date(#{djsj, jdbcType=VARCHAR},'yyyy-MM-dd HH24:mi:ss')),
        (to_date(#{gxsj, jdbcType=VARCHAR},'yyyy-MM-dd HH24:mi:ss')),
        #{xxsc_Pdbz , jdbcType=VARCHAR},
        #{xxdjry_Xm , jdbcType=VARCHAR},
        #{xxdjdw_Gajgmc , jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateTbXwKyxsRy" parameterType="com.ye.functiondemo.model.TbXwKyxsRy" >
        update tb_XW_KYXS_RY
        set
        <if test="kyxsry_kyyj != null and kyxsry_kyyj != ''">kyxsry_kyyj = #{ kyxsry_kyyj , jdbcType=VARCHAR },</if>
        <if test="kyxsry_Zjhm != null and kyxsry_Zjhm != ''">kyxsry_Zjhm = #{ kyxsry_Zjhm , jdbcType=VARCHAR },</if>
        <if test="djsj != null and djsj != ''">djsj = (to_date(#{djsj, jdbcType=VARCHAR},'yyyy-MM-dd HH24:mi:ss')),</if>
        <if test="xxdjdw_Gajgmc != null and xxdjdw_Gajgmc != ''">xxdjdw_Gajgmc = #{ xxdjdw_Gajgmc , jdbcType=VARCHAR },</if>
        <if test="xxdjry_Xm != null and xxdjry_Xm != ''">xxdjry_Xm = #{ xxdjry_Xm , jdbcType=VARCHAR },</if>
        xxsc_Pdbz='0'
        where  xxzjbh = #{xxzjbh,jdbcType=VARCHAR}

    </update>

   <delete id="delTbXwKyxs" parameterType="java.lang.String"  >
   delete from tb_XW_KYXS_RY
   where xxzjbh = #{xxzjbh,jdbcType=VARCHAR}

   </delete>

</mapper>
